.loader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dots,
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dot animation */

.dots>span {
    display: inline-block;
    background-color: #d1495b;
    width: 0;
    height: 0;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.8s infinite alternate;
}

.dots>span:nth-child(2) {
    background-color: #00798c;
    animation-delay: .2s;
}

.dots>span:nth-child(3) {
    background-color: #edae49;
    animation-delay: .4s;
}

@keyframes bounce {
    to {
        width: 25px;
        height: 25px;
        transform: translate3d(0, -16px, 0);
    }
}

/* loading text */
.loading {
    color: #30638e;
    position: fixed;
    margin-top: 2%;
    font-size: 1.25em;
}

.loading::after {
    content: '\2026';
    font-size: 1.5em;
    display: inline-block;
    overflow: hidden;
    animation: dots steps(4, end) 2s infinite;
    width: 0;
}

@keyframes dots {
    to {
        width: 1.5rem;
    }
}