.progress-container {
    position: sticky;
    top: 62px;
    z-index: 150;
    opacity: 0;
    transition: opacity .5s ease-in;
}
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}
.progress-bar-inner {
    position: relative;
    font-size: .5em;
    width: 0%;
    padding: 0px;
    color: black;
    background-color: rgb(252, 246, 189, .5);
}
@media (max-width: 992px) {
    .progress-container {
        position: sticky;
        top: 0px;
        z-index: 150;
        opacity: 0;
        transition: opacity .5s ease-in;
   }
}
